@import "../../../cssvars.scss";
.Button {
    background: $primary;
    border: $lightBlue 1px solid;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
    color: $lightBlue;

    &:hover {
        background: $primary;
    }
    &:focus {
        outline: none;
    }
    &:active{
        &:hover {
            box-shadow: none;
            transform: translateY(1px);
        }
    }
}
.Download {
    background: $dark;
    color: $lightBlue;
    &:hover {
        background: $black;
    }
}

.DownloadYellow {
    background: #212225;
    border: 1px solid #BE6F2C;
    color: #BE6F2C;
    &:hover {
        background: #323437;
    }
}
