@import "../../cssvars.scss";
.Home {
    color: $light;
    h1 {
        color: $primaryDark;
    }
    .Intro {
        padding-top: 52px;
        background: $primary url("../../assets/images/bg1.jpg") no-repeat;
        background-size: cover;
        height: calc(100vh - 319px);
        width: 100%;
        display: flex;
        align-content: stretch;
        border-bottom: 1px solid #405171;
            div {
                display: flex;
                width: 100%;
                align-content: stretch;
                .InroContent {

                    background-image: url("../../assets/images/heroBg.png");
                    background-repeat: no-repeat;
                    background-position: bottom center;
                    background-size: contain;
                    justify-content: center;
                    padding-top: 60px;
                    box-sizing: border-box;
                    a {
                        display: block;
                        height: 100px;
                        margin: 30px;
                        border: none;
                        transition: all 1s ease-in-out;
                        //padding-bottom: 10px;
                        img {
                            transition: all .2s ease-in-out;
                        }
                        &:hover {
                            //padding-bottom: 0;
                            //transition: 3s ease-in-out;
                            img {
                                //height: 120px;
                                //width: auto;
                                transform: scale(1.3);
                            }
                        }
                    }
                }
            }


    }
    .DescriptionWrap {
        background: #1c2737;
        border-bottom: 1px solid #405171;
        .Description {
            text-align: center;
            max-width: 800px;
            margin: 0 auto ;
            padding: 30px 0;
            color: $gold;
            p{
                line-height: 1.2em;
                padding: 10px;
            }
        }

    }

}

@media only screen and (max-width: 1024px) {
    .Home {
        .Intro {
            div {
                .InroContent {

                }
            }
        }
    }
}