.Mobile {
    position: absolute;
    right: 0;
}

.Slideout {
    cursor: pointer;
    padding-top: 4px;
    position: absolute;
    right: 10px;
    top: 0;
    transition: top 0.3s;
    z-index: 101;
}
.SlideoutActive {
    top: -2px;
}
.SlideoutActive .Expand span:nth-child(1) {
    background-color: #393939;
    top: 16px;
    transform: rotate(45deg);
}
.SlideoutActive .Expand span:nth-child(2) {
    opacity: 0;
}
.SlideoutActive .Expand span:nth-child(3) {
    background-color: #393939;
    transform: rotate(-45deg);
}
.SlidingNav {
    background: #f9f9f9;
    box-sizing: border-box;
    height: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: height 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),width 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: 0;
}
.SlidingNav.SlidingNavActive {
    height: auto;
    padding-top: 42px;
    width: 300px;
}
.SlidingNav ul {
    flex-flow: column nowrap;
    list-style: none;
    padding: 10px;
}
.SlidingNav ul li {
    margin: 0;
    padding: 2px 0;
}
.SlidingNav ul li a {
    color: #1C2836;
    display: inline;
    margin: 3px 5px;
    padding: 2px 0;
    transition: background-color 0.3s;
}
.SlidingNav ul li a:hover {
    text-decoration: underline;
}
.Expand {
    display: flex;
    flex-flow: column nowrap;
    height: 20px;
    justify-content: space-between;
}
.Expand span {
    background: #fff;
    border-radius: 3px;
    display: block;
    flex: 0 0 4px;
    height: 4px;
    position: relative;
    top: 0;
    transition: background-color 0.3s, top 0.3s, opacity 0.3s, transform 0.3s;
    width: 20px;
}
@media only screen and (min-width: 1024px) {
    .Mobile {
        display: none;
    }
}